body {
  margin: 0;
}
img {
  display: inline;
  margin: 0;
  padding: 10px 0px;
}

.page-wrapper {
  text-align: center;
}
.border {
  border: 0.5px gray solid;
  border-radius: 10px;
  margin: 10px 20px;
}
.thisis-title {
  margin: 0;
  font-size: 10px;
  text-align: right;
  padding: 20px 0px;
}
.case-study {
  font-size: 10px;
}

.name {
  text-align: center;
  font-size: 8px;
}
.zayande-video {
  display: block;
  margin: 0 auto;
}
